<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="logstash-logback-encoder-bug"/>
    <springProperty scope="context" name="envProfiles" source="spring.profiles.active" defaultValue="-"/>

    <springProfile name="test, localstandalone">
        <!--<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <!-- Using the Composite Encoder disables all Providers which must now be manually enabled -->
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <!-- If using logback-logstash-encoder > 5 try this -->
                <jsonFactoryDecorator class="net.logstash.logback.decorate.CharacterEscapesJsonFactoryDecorator"/>
                <providers>
                    <timestamp>
                        <timeZone>UTC</timeZone>
                    </timestamp>
                    <version/> <!-- Add a version property to the JSON -->
                    <arguments/> <!-- Resolve all custom, parameterized application events -->
                    <logstashMarkers/> <!-- Resolve all custom, parameterized application events -->
                    <stackTrace/> <!-- Include stacktraces -->
                    <tags/> <!-- Include tags -->
                    <pattern>
                        <pattern>
                            {
                            "severity": "%level",
                            "service": "${appName:-}",
                            "pid": "${PID:-}",
                            "thread": "%thread",
                            "class": "%logger{40}",
                            "message": "%message",
                            "env-profiles":"${envProfiles}",
                            "host": "${HOSTNAME}"
                            }
                        </pattern>
                    </pattern>
                </providers>
            </encoder>
        </appender>
        <root level="WARN">
            <appender-ref ref="CONSOLE" />
        </root>
        <logger name="com.integralads" level="INFO"/>
    </springProfile>
</configuration>